/* GENERAL STYLES */
.container {
    width: 80%;
    margin: 0 auto
}

.profile-picture {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden
}

img {
    display: block;
    width: 100%;
}

.btn,
.btn-follow {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn {
    border-radius: var(--border-radius);
    padding: var(--btn-padding);
    font-size: .9rem
}

.btn-follow {
    display: flex;
    border-radius: 1rem;
    padding: .3rem .6rem;
    font-size: .8rem;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

.btn-follow:hover {
    opacity: .8;
}

.btn:hover {
    opacity: .8
}

.btn-primary {
    background: var(--color-primary);
    color: white
}

.text-bold {
    font-weight: 500
}

.text-muted {
    color: var(--color-gray)
}

/* ============ NAVBAR ============= */

nav {
    width: 100%;
    background: var(--color-white);
    padding: .7rem 0;
    position: fixed;
    top: 0;
    z-index: 10
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav .navLogo {
    display: flex;
    align-items: center;
    gap: .6rem;
    cursor: pointer
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    align-items: center;
    margin-left: -4rem;
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark)
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-gray)
}

nav .create {
    display: flex;
    align-items: center;
    gap: 1rem
}

nav .navuser {
    cursor: pointer;
    margin-right: 2rem;
}

nav .navuser i {
    font-size: 2rem;
}

nav .navuser:hover {
    transform: scale(1.1);
}

/* ================== MAIN ==================== */

main {
    position: relative;
    top: 5.4rem
}

main .container {
    display: grid;
    grid-template-columns: 18vw 35vw 20vw;
    column-gap: 2rem;
    position: relative
}

/* ================== LEFT ==================== */

main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left)
}

main .container .left .profile {
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 2rem;
    width: 100%
}

.left .profile .profile-picture img {
    border-radius: 50%;
}

/* ================== SIDEBAR ==================== */

.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius)
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    translate: all 300ms ease;
    position: relative
}

.left .sidebar .menu-item:hover {
    background: var(--color-light)
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative
}

.left .sidebar i .notification-count::before {
    content: attr(data-count);
    background: var(--color-danger);
    color: white;
    font-size: .7rem;
    width: fit-content;
    border-radius: .8rem;
    padding: .1rem .4rem;
    position: absolute;
    top: -.2rem;
    right: -.3rem
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem
}

.left .sidebar .active {
    background: var(--color-light)
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color-primary)
}

.left .sidebar .active::before {
    content: attr(data-count);
    display: block;
    width: .5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary)
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden
}

.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden
}

.left .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0
}

/* ================== SIDEBAR ==================== */
.left .notifications-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
    z-index: 80;
    display: none
}

.left .notifications-popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -.6rem;
    transform: rotate(45deg)
}

.left .notifications-popup>div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem
}

.left .notifications-popup small {
    display: block
}

/* ================== MIDDLE ==================== */
.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: .5rem
}

.middle .stories .story {
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: .75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, .75));
    position: absolute;
    bottom: 0
        /* z-index: -1; */
}

.middle .stories .story::after {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(rgba(0, 0, 0, .75), transparent);
    position: absolute;
    top: 0;
    z-index: -1;
}

.middle .stories .story .name {
    z-index: 2
}

.middle .story .profile-picture {
    width: 2rem;
    height: 2rem;
    align-self: flex-start;
    border: 2px solid var(--color-primary)
}

/* ================== CREATE POST ==================== */

.middle .create-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    padding: .4rem var(--card-padding);
    border-radius: var(--border-radius)
}

.middle .create-post .input-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-light);
    border-radius: var(--border-radius);
    margin-top: 1rem;
}

.middle .create-post .postOptions {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.middle .create-post .option {
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.middle .create-post .option:hover {
    transform: scale(1.1);
}

.middle .create-post input[type="text"] {
    justify-self: flex-start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem
}

.previewImage i {
    position: relative;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin: 5px 0;
}

.middle .create-post .previewImage>img {
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.middle .create-post .previewImage>video {
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

/* ================== PROFILE CARD ==================== */

.ProfileCard {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--color-white);
}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages>img:nth-of-type(1) {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    cursor: pointer;
}

.ProfileImages>img:nth-of-type(1):hover {
    opacity: .5;
}

.ProfileImages>img:nth-of-type(2) {
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
    cursor: pointer;
}

.ProfileImages>img:nth-of-type(2):hover {
    opacity: .8;
}

.ProfileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 0 0;
    gap: 10px;
}

.ProfileName>span:nth-of-type(1) {
    font-weight: bold;
}

.followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
}

.followStatus>hr {
    width: 85%;
    border: 1px solid var(--color-gray);
}

.followStatus>div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    align-items: center;
    justify-content: center;
}

.follow>span:nth-of-type(1) {
    font-weight: bold;
}

.follow>span:nth-of-type(2) {
    color: var(--color-gray);
    font-size: 13px;
}

.vl {
    height: 100%;
    border-left: 2px solid var(--color-gray);
}

.ProfileCard>span {
    font-weight: bold;
    color: orange;
    align-self: center;
    margin: 0 0 1rem 0;
    cursor: pointer;
}

/* ================== PROFILE CARD ==================== */


/* ================== FEEDS ==================== */

.middle .feeds {
    width: auto;
}

.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: .85rem;
    line-height: 1.5
}

.middle .feed .head {
    display: flex;
    justify-content: space-between
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.user .profile-picture img{
    border-radius: 50%;
}

.customBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit {
    cursor: pointer;
    align-self: flex-end;
}

.dropdown {
    font-size: .7rem;
    background: var(--color-dark);
    color: var(--color-light);
    padding: .2rem;
    border-radius: .3rem;
    transition: all 0.5s ease;
    right: 0;
    margin-top: 2rem;
    position: absolute;
    cursor: pointer;
    display: none;
}

.edit:hover+.dropdown {
    display: block;
}

edit:hover,
.dropdown:hover {
    opacity: .7;
    display: block;
}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .7rem 0;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.middle .feed .photo video {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .7rem 0;
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: .6rem
}

.middle .feed .interaction-buttons {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.bookmark {
    cursor: pointer;
}

.middle .feed .caption {
    margin: .6rem 0 1rem .5rem;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -.6rem
}

.middle .liked-by span img {
    border-radius: 50%
}

.middle .liked-by span:first-child {
    margin: 0
}

.middle .liked-by p {
    margin-left: .5rem
}

.bookmark_title {
    display: flex;
    justify-content: center;
}

.middle .comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: var(--card-border-radius);
}

.middle .user.comment-user {
    width: 94%;
    margin: 1rem;
}

.middle .comment-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    align-items: center;
    width: 85%;
}

i.uil-message:hover {
    transform: scale(1.1);
}

.comment-bar input[type="text"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);
}

.middle .comment-section hr {
    border: 1px dashed;
    width: 95%;
}

.middle .feeds .comments-feed {
    width: 100%;
    max-height: 8rem;
    overflow-y: scroll;
}

.middle .feeds .comments-feed::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.middle .feeds .comments-feed::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.middle .feeds .comments-feed::-webkit-scrollbar {
    width: .4em;
}

.middle .feeds .eachComment {
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    font-size: .85rem;
    line-height: 1.5;
    width: 100%;
}

.middle .feeds .user .comment-picture {
    width: 1.5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.middle .feeds .user .comment-picture img {
    border-radius: 50%;
}

.middle .feeds .user .comment-picture .cloudinary-img {
    border-radius: 50%;
}

.middle .feeds .comments-head {
    display: flex;
    justify-content: space-between;
}

.middle .feeds .comment-info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 1rem;
    padding: .6rem 0 .6rem .8rem;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    width: 85%;
    word-wrap: normal;
}

.middle .feeds .comments {
    margin-top: .5rem;
}

.middle .feeds .comment-actions {
    display: flex;
    gap: .5rem;
}

.middle .feeds .comment-actions a {
    text-decoration: underline;
    font-size: .7rem
}

/* ================== RIGHT ==================== */

main .container .right {
    height: max-content;
    top: var(--sticky-top-right);
    bottom: 0
}

.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .messages .messagesContainer {
    height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.messagesContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.messagesContainer::-webkit-scrollbar {
    width: .3em;
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem
}

.right .messages i {
    font-size: 1.4rem
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}

.right .messages .category h5 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: .5rem
}

.right .messages .message-requests {
    color: var(--color-primary)
}

.right .messages .category .active {
    border-color: var(--color-dark)
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    cursor: pointer;
}

.right .messages .message:hover {
    background-color: rgba(78, 78, 78, 0.1);
    border-radius: var(--card-border-radius);
}

.right .message .profile-picture {
    position: relative;
    overflow: hidden;
}

.right .messages .message p {
    font-size: .8rem
}

.right .messages .message .profile-picture.active::before {
    content: "";
    bottom: 0;
    right: 0;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
}

/* ================== FRIEND REQUESTS ==================== */

.right .friend-requests {
    margin-top: 1rem
}

.right .friend-requests h4 {
    color: var(--color-gray);
    margin: 1rem 0
}

.right .request {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: .7rem
}

.right .request .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .request .action {
    display: flex;
    gap: 1rem
}

.right .request .info .infoName {
    max-width: 6rem;
    word-wrap: break-word;
    overflow: hidden;
}

/* ================== CHAT BOX ==================== */

.chat-box {
    position: fixed;
    bottom: 0.5rem;
    right: 18%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 18rem;
    background: var(--color-white);
    color: var(--color-dark);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0px 20px black;
}

.chatNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: .5rem;
    margin: .3rem 0;
}

.chatNav .friendUser {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.chatNav .friendUser>.profile-picture {
    width: 1.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden
}

.chat-container hr {
    border-bottom: 2px solid var(--color-dark);
    opacity: .5;
}

.chatArea {
    height: 80%;
    padding: .5rem;
    font-size: .95rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatArea::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chatArea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chatArea::-webkit-scrollbar {
    width: .3em;
}

.chatArea .profile-picture {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    overflow: hidden;
}

.chatArea .message-container {
    display: flex;
    gap: .5rem;
    margin: .5rem 0;
}

.chatArea .message-container.own {
    justify-content: end;
}

.message-container.own .eachMessage {
    background: var(--color-gray);
}

.eachMessage {
    position: relative;
    padding: 6px;
    border-radius: .5rem;
    background: var(--color-primary);
    height: fit-content;
}

.chatInputArea {
    display: flex;
    justify-content: center;
    gap: .6rem;
    align-items: center;
}

.chat-bar {
    background: var(--color-dark);
    opacity: .7;
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    align-items: center;
    width: 85%;
    height: 12%;
}

.chat-bar input[type="text"] {
    background: transparent;
    width: 30vw;
    font-size: .9rem;
    color: var(--color-light);
}


/* ========================== THEME CUSTOMIZATOIN ========================== */

.customize-theme {
    background: rgba(255, 255, 255, .5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: .9rem;
    display: none
}

.customize-theme .card {
    box-shadow: 0 0 1rem var(--color-primary);
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--card-border-radius);
    width: 50%
}

.customize-theme .card h2 {
    margin-top: 1rem
}

/* =================== FONT SIZE =================== */

.customize-theme .font-size {
    margin-top: 2rem
}

.customize-theme .font-size>div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius)
}

.customize-theme .choose-size {
    background: var(--color-secondary);
    height: .3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer
}

.customize-theme .choose-size span.active {
    background: var(--color-primary)
}

/* =================== COLOR =================== */

.customize-theme .color {
    margin-top: 2rem
}

.customize-theme .choose-color {
    margin-top: 1rem;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%
}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%)
}

.customize-theme .choose-color span.active {
    border: 5px solid rgb(0, 0, 0)
}

/* =================== BACKGROUND =================== */

.customize-theme .background {
    margin: 2rem 0
}

.customize-theme .choose-bg {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem
}

.customize-theme .choose-bg>div {
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .4rem;
    cursor: pointer
}

.customize-theme .choose-bg>div.active {
    border: 2px solid var(--color-primary)
}

.customize-theme .choose-bg .bg-1 {
    background: white;
    color: black
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%, 27%);
    color: white
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%, 10%);
    color: white
}

.customize-theme .choose-bg>div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    margin-right: 1rem
}

/* ==========================
    MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS 
========================== */
@media screen and (max-width: 1200px) {
    .container {
        width: 96%
    }

    main .container {
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem
    }

    .left {
        width: 5rem;
        z-index: 5
    }

    main .container .left .profile {
        display: none
    }

    .sidebar h3 {
        display: none
    }

    .left .btn {
        display: none
    }

    .customize-theme .card {
        width: 80vw
    }
}

/* ==========================
    MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES 
========================== */
@media screen and (max-width: 992px) {
    nav .search-bar {
        display: none
    }

    main .container {
        grid-template-columns: 0 auto 5rem;
        gap: 0
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0
    }

    /* ------------- NOTIFICATION POPUP ---------------- */
    .left .notifications-popup {
        position: absolute;
        left: -20rem;
        width: 20rem
    }

    .left .notifications-popup::before {
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - .6rem);
        display: block
    }

    main .container .middle {
        grid-column: 1/3
    }

    main .container .right {
        display: none
    }

    .customize-theme .card {
        width: 92vw
    }

    .customize-theme .choose-bg>div {
        width: 50%;
        overflow: hidden
    }

    .customize-theme .choose-bg>div span {
        width: .5rem;
        height: .5rem
    }
}